*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* background: url("../img/back.jpg"); */
}

.container {
    padding: 0 12vw;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid blue;
    height: 7vh;
    position: sticky;
    top: 0;
}

.content{
    display: flex;
    height: 86vh;
}

.board {
    width: 65%;
    border: 1px solid blue;
}

.user{
    width: 35%;
    border: 1px solid blue;
}

.user input{
    margin: 12px 0;
    border-radius: 12px;
    width: 75%;
    height: 30px;
    outline: none;
}

.user .btn{
    width: 20%;
    padding: 8px;
    border-radius: 12px;
    
}



.group{
    margin: 12px 12px;
    display: flex;
    flex-direction: row;
}


footer{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    border: 1px solid blue;
    height: 7vh;
    position: sticky;
    bottom: 0;
}