*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    /* background: url("../img/back.jpg");
    background-size: cover; */
}

.container {
    padding: 0 12vw;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    border: 1px solid blue;
    height: 7vh;
    position: sticky;
    top: 0;
}

.content{
    display: flex;
    height: 86vh;
}

.board {
    display: flex;
    align-items: center;
    width: 65%;
    border: 1px solid blue;
}

.mark{
    width: 100%;
}

.user{
    display: flex;
    align-items: center;
    width: 35%;
    border: 1px solid blue;
}
.all{
  margin-left: 12px;
}

.user input{
    margin: 12px 0;
    border-radius: 12px;
    width: 75%;
    height: 30px;
    outline: none;
}

.user .btn{
    background-color: rgba(93, 170, 221,0.3);
    width: 35%;
    padding: 6px;
    border-radius: 12px;
}

.user .btn:hover{
    width: 40%;
    background: rgb(24, 82, 109);
    color: white;
    transition: ease-in-out 0,5s;
    cursor: pointer;
}


.group{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.group .case {
    color: #FFFFFF;
    background-color: gray;
    width: 50px;
    padding: 2px ;
}

.sign {
    border: 1px solid red;
    border-radius: 7px;
    padding: 0 7px;
    color: rgb(4, 56, 77);
    /*  */
}


footer{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    border: 1px solid blue;
    height: 7vh;
    position: sticky;
    bottom: 0;
}